tags
*~
*.swp
*.swl
*.swm
*.swn
*.swo
.VimballRecord
*.o
*.so
*.dylib
*.lo
*.plo
*.pyc
*.out
*.h5
*.dat
*.vk
*.in
*.PairAction
*.bf
*.ch
*.dg
*.dm
inputs/*/*.txt
inputs/*/INPUT
data
simpimc
bin/
build/
include/
depends/
lib/
share/
etc/
docs/html
docs/_doctrees
